{% extends "deepin/base.html" %}

{% block navbar_top %}
    {% include 'deepin/navbar_top.html' %}
{% endblock %}
{% load i18n %}


{#{% block title %}{{ title }}{% endblock %}#}
{#{% block content_title %}<h1>{{ title }}</h1>{% endblock %}#}

<style>
    div#wp.wp {
        height: 300px;
    }
</style>
{% block topic_list %}
    <div style="font-size: 18px; padding-left: 100px; height: 150px;">
        <div style="margin-top: 100px;">
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

            <form action="" method="post">{% csrf_token %}
                {{ form.email.errors }}
                <p><label for="id_email">{% trans 'Email address:' %}</label>
                    {{ form.email }}
                    <input type="submit" value="{% trans 'Reset my password' %}"/>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
